{
    "overrides": [
        {
            "files": [
                "*.js",
                "*.ts",
                "*.tsx"
            ],
            "options": {
                "trailingComma": "all",
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": true,
                "printWidth": 120
            }
        },
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
